
<div class="container justify-content-center mt-5 mb-5 shadow text-center align-content mx-auto bg-light principalDiv">
    <div class="text-center mt-3">
        <form class="form-signin" (ngSubmit)="onSubmit(e)">
        
        <p class="mb-5">
            Ja tens compte? <a [routerLink]="['']"  class="ml-1 blue">Loggin</a>
            </p>

            <h1 class="h3 mb-5 font-weight-normal">Registre <span class="blue">Teach Dashboard</span></h1>

            <div class="row ml-0 mr-0 justify-content-center align-items-center w-100">
                <div class="column inline-block w43 mr-auto ml-0 decoLine vertical-align-middle"></div>

                <div class="column inline-block hw10" id="circle" ></div>

                <div _ngcontent-c4="" class="column inline-block w43 ml-auto mr-0 decoLine  vertical-align: middle;"></div>
            </div>

                <div class="mb-3 mt-4">       
                    <label class="float-left">Nom</label>        
                    <input  type="text" id="inputNom" class="form-control" placeholder="Nom" required="" autofocus="">
                    
                </div>

            
                <div class="mb-3 mt-4">       
                    <label class="float-left">Email</label>        
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required >
                </div>

                <div class="mb-3 mt-4">
                    <label class="float-left">Contrasenya</label>   
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input [type]="passwordType" id="inputPassword" class="form-control" placeholder="Contrasenya" required>
                </div>

                <div class="mb-3 mt-4">
                    <label class="float-left">Confirmació contrasenya</label>   
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input [type]="passwordType" id="inputPassword2" class="form-control" placeholder="Contrasenya" required>
                </div>

                <ng-template [ngIf]="registerSuccess">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{textMostrar}}
                        <button id= "alertCloseButton" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                        <span aria-hidden="true" (click)="onClosed()">&times;</span>
                        </button>
                    </div>
                </ng-template>

            <button id= "Registre" class="btn btn-lg btn-primary btn-block" type="submit">Registrar-se</button>
            <p class="mt-5 mb-3 text-muted">© Teach Dashboard 2021</p>
        </form>
    </div>
</div>