.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: white;
    text-align: center;
 }

 .social-items{
     color:black;
     margin: 10px
 }



.socialHover :hover{
    color: blue;
    -webkit-transform: scale(1.8);
    transform: scale(1.8);
    z-index: 95;
}

#accordion{
    width: 100% ;
}



.card-header{
    background-color: transparent!important;
}

.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem blue imp !important;
}

.botoFAQ:focus{
    outline: 0;
    box-shadow: 0 0 0 0.2rem blue imp !important;
}

.blue{
    color:blue
}

