<head>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!--GOOGLE FONTS-->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Play&display=swap" rel="stylesheet"> 
</head>



<footer>
    <div class="footer shadow">
        <div class="row justify-content-center ">
            <a class="socialHover" href="#"><i class="social-items fa fa-facebook"></i></a>
            <a class="socialHover" href="#"><i class="social-items fa fa-instagram"></i></a>
            <a class="socialHover" href="#"><i class="social-items fa fa-youtube"></i></a>
            <a class="socialHover" href="#"><i class="social-items fa fa-twitter"></i></a>
        </div>
    
        <div class="row justify-content-center mb-2" style="color:black">
        Copyright © 2021 - All rights reserved 
        </div>
    </div>
    </footer>

    