.buttonsSearch {
    border: 1px solid #b5b3b3;
}

.fa-search:before {
    content: "\f002";
    color: blue;
}

.box {
    background: #fff;
    border-radius: 15px;
    padding: 12px;
}


.search-text{
    border: hidden;
    outline: none;
}