<app-nav></app-nav>




 <div class="container mt-5" style="height: 20%;">
    
        <div class="searchDiv row d-flex justify-content-center" stlye="margin-top:20px">
            <div class="box buttonsSearch shadow" style="border-radius: 12px; float: left; position: absolute">
                <i class="fas fa-search" 
                style="color: #58949b;border-radius: 5px;font-size: 20px; cursor: pointer; float: right;"
                ></i>
                <input type="text" class="search-text" placeholder="Troba el que busques" id="myinputsearch"
                style="margin-right: 10px; font-family: Montserrat; color: #3f4550; width: 200px; height: 20px !important;">
                <a class="search-btn" style="text-decoration:none ">
                </a>
            </div>
        </div>


  </div>

  <div class="container mt-5 h-100" >



    <!-- Cards Section -->
    <div class="row h-auto">
    
    <div class="col-lg-3 col-md-6 col-xs-12 mb-5" style="height: fit-content; width: 800px;">
      <div [routerLink]="['../alumnes']" class="shadow p-4  justify-content-center mx-auto card">
        <div style="text-align: center;">
        <img src="../../../assets/images/alumno.jpg" height="120px" width="120px" alt="">
      </div>

        <div>
        <p class="mt-3" style="text-align: center;"> Alumnes</p>
      </div>
        
      </div>
      
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12 mb-5" style="height: fit-content; width: 800px; ">
      <div class="shadow p-4  justify-content-center mx-auto card">

        <div style="text-align: center;">
          <img src="../../../assets/images/profesor.jpg" height="120px" width="120px" alt="" class="mt-1">
        </div>


        <div>
        <p class="mt-3" style="text-align: center;"> Professors</p>
      </div>
      </div>
      
    </div>
      
    <div class="col-lg-3 col-md-6 col-xs-12  mb-5" style="height: fit-content; width: 800px; ">
      <div class="shadow p-4  justify-content-center mx-auto card">
        <div style="text-align: center;">
          <img src="../../../assets/images/asignatura.jpg" height="120px" width="120px" alt="">
        </div>
        <div>
          <p class="mt-3" style="text-align: center;"> Assignatures</p>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6 col-xs-12 mb-5" style="height: fit-content; width: 800px; ">
      <div class="shadow p-4  justify-content-center mx-auto card">
        <div style="text-align: center;">
        <img src="../../../assets/images/estadistics.png" height="120px" width="120px" alt="" class="mt-3">
      </div>
      <div>
        <p class="mt-3" style="text-align: center;"> Estadístiques
        </p>
      </div>
      </div>
    </div>

  </div>











  </div>
    















