<app-nav></app-nav>
<div>
    <div class="container justify-content-center mt-5 mb-5 shadow text-center align-content mx-auto bg-light" 
                style="
                border-radius: 10px;
                outline: none;
                padding: 1cm;">

            <mat-tab-group animationDuration="0ms" mat-stretch-tabs [disableRipple]="true">
                <mat-tab label="Perfil">
                <!-- title -->
                <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                    <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Perfil </p>
                </div>

                <!-- steps -->
                <div class="mx-auto mt-4 w-100">
                    <img src="../../../assets/images/gen.png" height="100px" width="100px" alt="imatge de l'usuari" style="float:center; border-radius: 50%;">



                    

                    <div class="text-center mt-3">
                        <form class="form-signin" style="width: 400px; margin:0 auto">

                
                                <div class="mb-3 mt-4">       
                                    <label class="float-left">Nom</label>        
                                    <input  type="text" id="inputNom" class="form-control" placeholder="Nom" required="" autofocus="">
                                    
                                </div>
                
                            
                                <div class="mb-3 mt-4">       
                                    <label class="float-left">Email</label>        
                                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required >
                                </div>
                
                                <div class="mb-3 mt-4">
                                    <label class="float-left">Contrasenya</label>   
                                    <label for="inputPassword" class="sr-only">Password</label>
                                    <input  id="inputPassword" class="form-control" placeholder="Contrasenya" required>
                                </div>
                
                                <div class="mb-3 mt-4">
                                    <label class="float-left">País</label>   
                                    <label for="inputPassword" class="sr-only"></label>
                                    <input  id="inputPassword2" class="form-control" placeholder="País" required>
                                </div>
                
                      
                
                            <button id= "Registre" class="btn btn-lg btn-primary btn-block" type="submit" style="width: 150px; margin:0 auto; margin-bottom: 150px;">
                                Modificar</button>
                            
                        </form>
                    </div>
                    






                </div>

                </mat-tab>

                <mat-tab label="Configuració">
                    <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                        <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Configuració </p>
                    </div>


                    <!-- steps -->
                    <div class="mx-auto mt-4 w-100">



                        
                       
                    </div>
                </mat-tab>

                


                <mat-tab label="Seguretat">
                    <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                        <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Seguretat </p>

                        <!-- steps -->
                        <div class="mx-auto mt-4 w-100">
                           
                        </div>
                    </div>
                </mat-tab>


            </mat-tab-group>

    </div>

</div>