<app-nav></app-nav>
<div>
    <div class="container justify-content-center mt-5 mb-5 shadow text-center align-content mx-auto bg-light" 
                style="
                border-radius: 10px;
                outline: none;
                padding: 1cm;">

            <mat-tab-group animationDuration="0ms" mat-stretch-tabs [disableRipple]="true">
                <mat-tab label="Perfil">
                <!-- title -->
                <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                    <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Perfil </p>
                </div>

                <!-- steps -->
                <div class="mx-auto mt-4 w-100">
                    <img src="../../../assets/images/gen.png" height="100px" width="100px" alt="imatge de l'usuari" style="float:center; border-radius: 50%;">
                </div>

                </mat-tab>

                <mat-tab label="Configuració">
                    <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                        <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Configuració </p>
                    </div>


                    <!-- steps -->
                    <div class="mx-auto mt-4 w-100">
                       
                    </div>
                </mat-tab>

                


                <mat-tab label="Seguretat">
                    <div class="text-center justify-content-center mx-auto mt-5 w-100 block">
                        <p style="color: blue; font-family: Montserrat; font-size: 26px;"> Seguretat </p>

                        <!-- steps -->
                        <div class="mx-auto mt-4 w-100">
                           
                        </div>
                    </div>
                </mat-tab>


            </mat-tab-group>

    </div>

</div>