
.form-signin {
  width: 100%;
  max-width: 450px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#iniciSessio{
    border-radius: 15px;
    width: auto;
    margin: 0 auto;
    margin-top: 80px;
}

.principalDiv{
  border-radius: 10px;
  outline: none;
  padding: 1cm;
}

#circle {
  border-radius: 50%;
  background: 0 0;
  border: 2px solid #929dab;
}

.m-top{
  margin-top:70px;
}

.f14{
  font-size: 14px;
}

.blue{
  color:blue;
}

.point{
  cursor: pointer;
}


.w43{
  width: 43%;
}

.decoLine{
  height: 2px;
  background: #C0C0C0
}

.hw10{
width: 10px; height: 10px;
}