<div class="container justify-content-center mt-5 mb-5 shadow text-center align-content mx-auto bg-light principalDiv">

    <div class="text-center mt-3">
        <form (ngSubmit)="onSubmit()" class="form-signin">
        
        <p class="mb-5" >
            Encara no tens compte? <a [routerLink]="['register']" class="blue ml-1"> Registra't</a>
            </p>

            <h1 class="h3 mb-5 font-weight-normal blue">Benvingut a <span>Teach Dashboard</span></h1>

            <div class="row ml-0 mr-0 justify-content-center align-items-center w-100">
                <div class="column inline-block w43 mr-auto ml-0 decoLine vertical-align-middle"></div>

                <div class="column inline-block hw10" id="circle"></div>

                <div _ngcontent-c4="" class="column inline-block w43 ml-auto mr-0 decoLine  vertical-align: middle;"></div>
            </div>
            
                <div class="mb-3 mt-4">               
                    <input type="email" id="inputEmail" class="form-control" placeholder="Email" required="" autofocus="">
                </div>

                <div class="mb-3">
                <span class="text-right mb-1 float-right f14 blue point" (click)="showOrHidePassword()"> 
                    {{ showPass }} </span>
                    <label for="inputPassword" class="sr-only">Password</label>
                    <input [type]="passwordType" id="inputPassword" class="form-control" placeholder="Contrasenya" required="">
                </div>

                <div class="mb-4 mt-1"> 
                    <a href="" class="float-left f14 blue point"> 
                        He oblidat la contrasenya</a>
                </div>

                <ng-template  [ngIf]="registerSuccess">
                    <div class="alert alert-danger alert-dismissible fade show m-top" role="alert">
                        <strong>Ups!</strong> Has d'omplenar tots els camps per poder iniciar sessió.
                        <button id= "alertCloseButton" type="button" class="close" data-dismiss="alert" aria-label="Close" >
                          <span aria-hidden="true" (click)="onClosed()">&times;</span>
                        </button>
                      </div>
                </ng-template>

        <button id= "iniciSessio" class="btn btn-lg btn-primary btn-block" type="submit">Iniciar sessió</button>
        <p class="mt-5 mb-3 text-muted">© Teach Dashboard 2021</p>
        </form>
    </div>
</div>