<app-nav></app-nav>




<div class="container justify-content-center mt-5 mb-5 shadow text-center align-content mx-auto bg-light" style="
                border-radius: 10px;
                outline: none;
                padding: 1cm;">



    <!-- Buscador -->
    <div class="h-100" style="margin-bottom:100px">
        <div class="box buttonsSearch shadow" style="border-radius: 12px; float: left; padding: 5px;">
            <i class="fas fa-search"
            style="color: #58949b;border-radius: 5px;font-size: 20px; cursor: pointer; float: right;"
            ></i>
            <input type="text" class="search-text" placeholder="Buscar professor" id="myinputsearch"
            style="font-family: Montserrat; color: #3f4550; width: 200px; height: 20px !important;">
            <a class="search-btn" style="text-decoration:none ">
            </a>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Nom</th>
                <th scope="col">Cognom</th>
                <th scope="col">Edat</th>
                <th scope="col">Email</th>
                <th scope="col">País</th>
                
                
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="width: 6%;">
                    <img src="../../../assets/images/kiko.jpg" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;">
                    </th>
                <td>Pere</td>
                <td>Pi</td>
                <td>41</td>
                <td>perepi@gmail.com</td>
                <td><img src="https://www.countryflags.io/ES/flat/24.png"></td>
                
                
            </tr>
            <tr>
                <th scope="row" style="width: 6%;" >
                    <img src="../../../assets/images/belen.jpg" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;">
                </th>
                <td>Marta</td>
                <td>Mas</td>
                <td>42</td>
                <td>marmas@gmail.com</td>
                <td><img src="https://www.countryflags.io/ES/flat/24.png"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 6%;">
                    <img src="../../../assets/images/peterchen.jpg" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;">
                    </th>
                <td>Peter</td>
                <td>Chen</td>
                <td>65</td>
                <td>peterchen@gmail.com</td>
                <td><img src="https://www.countryflags.io/CN/flat/24.png"></td>
            </tr>
            <tr>
                <th scope="row" style="width: 6%;">
                     <img src="../../../assets/images/maik.png" height="40px" width="40px" alt="" style="float:right; border-radius: 50%;">
                    </th>
                <td>Michal</td>
                <td>Maik</td>
                <td>28</td>
                <td>michal@gmail.com</td>
                <td><img src="https://www.countryflags.io/PL/flat/24.png"></td>
            </tr>
    
            </tbody>
        </table>
    </div>


</div>